<!DOCTYPE html>
<html>
    
    <head>
        <title>
            DELETE LOAI HANG HOA
        </title>
        <style>
        </style>
    </head>
    <body>
        <h2>BANG XOA LOAI HANG HOA</h2>
        <form action="/loaihanghoa/delete" method="POST">
            ID
            <input type="text" name="id">
            <br>
            Tên Cần Xóa
            <input type="text" name="name">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>