<!DOCTYPE html>
<html>
    <head>
        <title>
            LOGIN
        </title>
        <style>
            form {
                background-color: rgb(241, 241, 235);
                width: 30%;
                height: 300px;
                margin-left: 35%;
                margin-top: 100px;
                border-radius: 10px;
                padding: 10px;
                border: 1px solid;
                box-shadow: 0px 0px 4px 1px;
            }
        </style>
    </head>

    <body>
        <form action="">
            <h2 style="text-align: center;">LOGIN</h2>
            Ten tai khoan: <br>
            <input type="text" width="56%">
            <br>
            Mat khau: <br>
            <input type="password" width="56%" >
            <br><br>
            <input type="submit" width="30px" height="20px" value="Submit">
            <br><br>
            <input type="checkbox" > Remember me?
            <a style="margin-left: 70px" href="#">forget password?</a>
        </form>
    </body>
</html>